html {
  background-color: white;
}
body {
  margin: 100px;
}

#input {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 50px;
  box-shadow: 1px 2px;
}
#results {
  float: right;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 50px;
  box-shadow: 1px 2px;
}
#help {
  width: 9px;
  height: 9px;
}
#popup {
  margin: 50px;
  visibility: hidden;
}
