html {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  margin: 10px 100px;
}
header{
  background-color: green;
  color: white;
  padding: 20px;
  width: 93.7%;
  margin: 10px 0px;
}
#input {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0px;
  box-shadow: 2px 2px;
  width: 30%;
  font-size:1.5vw;
  border-radius: 12px;
  background-color: lightgrey;
}

#results {
  float: right;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0px 50px;
  box-shadow: 2px 2px;
  width: 40%;
  font-size:1.5vw;
  border-radius: 12px;
  background-color: lightgrey;
}
#help {
  width: 12px;
  height: 12px;
}
#popup {
  margin: 10px 0px;
  visibility: visible;
  border-style: solid;
  width: 30%;
  display: inline-block;
  box-shadow: 2px 2px;
  border-width: 2px;
  padding: 10px;
  border-radius: 12px;
  background-color: lightgrey;
}
u{
  text-decoration-color: blue;
}
 #Calculate{
  background-color: green;
  color: white;  
  width: 125px;
  height: 50px;
  font-size: 25px;
  border-radius: 12px;
}
#submit{
  background-color: green;
  color: white;  
  width: 63px;
  height: 25px;
  font-size: 12px;
  border-radius: 12px;
  font-size: 1vw;
}
input{
  box-shadow: 2px 2px;
}
